<div class="admin-categories__action-cell" *ngIf="row">
  <div
    class="admin-categories__action-wrap"
    (mousedown)="stopGridEvent($event)"
    (click)="stopGridEvent($event)"
  >
    <button
      type="button"
      class="admin-categories__action-trigger"
      aria-label="Mở menu thao tác danh mục"
      [attr.aria-expanded]="isMenuOpen"
      (mousedown)="stopGridEvent($event)"
      (click)="toggleMenu($event)"
    >
      <tui-icon icon="@tui.more-vertical" />
    </button>
  </div>
</div>
